<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="15 seconds">
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %date | %-5level | %msg | \(%file:%line\) [%thread | %logger]%n%exception
            </pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
