<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>IDP Showcase</title>
        <base href="/" />

        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/x-icon" href="favicon.ico" />

        <style>
            body {
                font-family: Arial, Helvetica, sans-serif;
            }

            table {
                border-collapse: collapse;
            }

            td, th {
                border: 1px solid #ddd;
                padding: 8px;
            }

            tr:nth-child(even){background-color: #f2f2f2;}

            th {
                text-align: left;
                background-color: #018482;
                color: white;
            }

            button {
                margin-top: 8px;
            }
        </style>
    </head>
    <body>

        <form th:action="@{/data/authorization}" method="get">
            <div>
                <div>
                    <input type="radio" id="oidc" name="protocol" value="oidc" checked="checked"/>
                    <label for="oidc">OIDC</label>

                    <input type="radio" id="saml2" name="protocol" value="saml2"/>
                    <label for="saml2">SAML2</label>
                </div>

                <div>
                    <input type="checkbox" id="require_mfa" name="require_mfa"/>
                    <label for="require_mfa">Require MFA</label>
                </div>
            </div>

            <h3>Optional Parameters</h3>
            <table>
                <thead>
                    <tr>
                        <th>Parameter</th>
                        <th>Value</th>
                        <th>Description</th>
                    </tr>
                </thead>

                <!-- max_age -->
                <tr>
                    <td>
                        <label for="max_age">max_age</label>
                    </td>
                    <td>
                        <input type="number" id="max_age" name="max_age" />
                    </td>
                    <td>
                        When a user selected "Remember Me" during the login process, the Identity Provider will not ask
                        the user to enter Username and Password for a specific time.
                        You can override and shorten this time by setting the max_age parameter.<br>
                        The value is in seconds.
                    </td>
                </tr>

                <!-- force_authentication -->
                <tr>
                    <td>
                        <label for="force_authentication">force_authentication</label>
                    </td>
                    <td>
                        <input type="checkbox" id="force_authentication" name="force_authentication" />
                    </td>
                    <td>
                        Same as max_age = 0 for OIDC<br>
                        Same as max_age = 300 for SAML2 (5 Minutes)
                    </td>
                </tr>

                <!-- max_age_mfa -->
                <tr>
                    <td>
                        <label for="max_age_mfa">max_age_mfa</label>
                    </td>
                    <td>
                        <input type="number" id="max_age_mfa" name="max_age_mfa" />
                    </td>
                    <td>
                        When the user selected "Remember" multi-factor authentication after a successful MFA login,
                        the user technically makes the device the second factor for the next 30 days.
                        You can override and shorten this time by setting the max_age_mfa parameter.<br>
                        (Setting max_age_mfa to 0 will force the user to enter the MFA code every time.)<br>
                        The value is in seconds.
                    </td>
                </tr>

                <!-- tenant -->
                <tr>
                    <td>
                        <label for="tenant">tenant</label>
                    </td>
                    <td>
                        <input type="text" id="tenant" name="tenant" />
                    </td>
                    <td>
                        Forces a login, if the user is already logged in at the Identity Provider but to another tenant.<br>
                        Example values: AT, DE, CZ, etc.
                    </td>
            </table>

            <button type="submit">Login</button>
        </form>
    </body>
</html>
